<?xml version='1.0' encoding='utf-8'?>
<widget id="io.loginradius.demoapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LoginRadius Demo App</name>
    <description>
        A simple User Registration Demo App use LoginRadius hosted Registration page. 
    </description>
    <author email="Karl@Loginradius.com" href="http://www.loginradius.com">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
